*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #1a1a1a;
}

.word{
    position: relative;
    width: 500px;
    height: 500px;
}

.word span{
    position: absolute;
    font-size: 23px;
    color: #0aa1fd;
    left: 0;
    animation: animate1 10s ease-in-out infinite alternate, animate2 20s linear infinite;
    animation-delay: calc(20s/var(--particles)*var(--n)*-1);
}


@keyframes animate1{
    to{
        left: 450px;
    }
}

@keyframes animate2{
    0%{
        transform: translateY(180px);
    }
    10%{
        transform: translateY(45px);
    }
    15%{
        transform: translateY(5px);
    }
    18%{
        transform: translateY(0px);
    }
        20%{
        transform: translateY(5px);
    }
        22%{
        transform: translateY(35px);
    }
        24%{
        transform: translateY(65px);
    }
        25%{
        transform: translateY(110px);
    }
        26%{
        transform: translateY(65px);
    }
        28%{
        transform: translateY(35px);
    }
        30%{
        transform: translateY(5px);
    }
        32%{
        transform: translateY(0px);
    }
        35%{
        transform: translateY(5px);
    }
        40%{
        transform: translateY(45px);
    }
        50%{
        transform: translateY(180px);
    }
        71%{
        transform: translateY(430px);
    }
        72.5%{
        transform: translateY(440px);
    }
        75%{
        transform: translateY(450px);
    }
        77.5%{
        transform: translateY(440px);
    }
        79%{
        transform: translateY(430px);
    }
        100%{
        transform: translateY(180px);
    }
}